* {
  margin: 0;
  padding: 0;
}

#download-app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ebecf0;
  padding: 5px 10px;
}

#navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  box-shadow: 0 4px 8px 0 #0003;
}

#download-app-container {
  display: flex;
  align-items: center;
}

#download-app-container span {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

#nav-menu-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#footer {
  background-color: white;
  display: flex;
  align-items: center;
  margin: 10px 20px;
  justify-content: space-around;
}

#footer-content {
  background-color: #f4f5f7;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  justify-content: space-around;
}

.col {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.combo-container {
  background-color: #dfe1e6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.combo-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.combo-container img {
  width: 170px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}
